{% extends 'user/index.html' %}
{% block content %}

<div style="background:#fff;">

<center>
<br><br>
	<div class="header-banner">
				<div class="container">
					<h1>SHOPS</h1>
					<br><br>
				</div>
    </div>
		<!--end header-section-->
			<!--services-->
			<div class="content">
				<div class="services">
					<div class="container">
						<div class="service-grids">
							<div class="row">
								{% for i in data %}
                                <div class="col-md-4 col-lg-4  service-grid">

                                    <img src="../media/{{i.7}}" class="img-responsive" alt=""/>
                                    <b><h3>{{i.1}}</h3></b>
                                    <h5>{{i.6}}</h5>
                                    <h5>{{i.3}}</h5>
                                    <p>{{i.4}}</p>
									<a href="../addfeedback/{{i.0}}"><button style="background:white; border-color:#FF9933; color:#FF9933;">add feedback</button></a>
									<a href="../allproducts/{{i.0}}"><button style="background:white; border-color:green; color:green;">view items</button></a>

								</div>
									{% endfor %}
							</div>
                                <div class="clearfix"></div>
						</div>
					</div>
				</div>
            </div>
	<br>
</center>
</div>

{% endblock %}