{% extends 'user/index.html' %}
{% block content %}


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">The Team</h6>
                <h1 class="display-5">We Are Professional Organic Farmers</h1>
            </div>
            <div class="row g-5">
                {% for i in data %}
                <div class="col-lg-4 col-md-6" >
                    <div class="row g-0" >
                        <div class="col-10">
                            <div class="position-relative" style="min-height:100px;">
                                <a href="../productdetails/{{i.0}}"><img class="img-fluid w-100" src="../media/{{i.8}}" alt=""></a>
                                <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                    <h4 class="text-white">{{i.11}}</h4>
                                    <span class="text-white">price :{{i.12}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                                <a class="btn btn-primary btn-square rounded-circle me-2" href="" style="">❤</a>
                                <a class="btn btn-primary btn-square rounded-circle me-2" href="" style="color:white;background:white;">🛒</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->


{% endblock %}